## 0. python imports

In [1]:
import pandas as pd
from scipy.stats import ttest_rel, ttest_1samp, ttest_ind

## 1. data loading

In [2]:
blood_pressure = pd.read_csv('./data/blood_pressure.csv')
blood_pressure.head()

       before       after
0  136.713072   92.432965
1  134.735618  105.022643
2  127.529115   82.242766
3  144.527126   93.607172
4  124.214720  103.212223

In [3]:
ab_test = pd.read_csv('./data/ab_test.csv')
ab_test.head()

       a      b
0   0.27  13.61
1   6.08  21.53
2  13.74   9.23
3   9.70   5.36
4   7.00  12.90

## 2. hypothesis test example (related samples)

test related distributions, is the differences between them due to chance?

In [4]:
ttest_rel(blood_pressure['before'], blood_pressure['after'])

Ttest_relResult(statistic=27.291841767560236, pvalue=7.303035069608042e-48)

test related distributions as mean difference is zero

In [5]:
blood_pressure['diff'] = blood_pressure['after'] - blood_pressure['before']
blood_pressure.head()

       before       after       diff
0  136.713072   92.432965 -44.280107
1  134.735618  105.022643 -29.712975
2  127.529115   82.242766 -45.286349
3  144.527126   93.607172 -50.919953
4  124.214720  103.212223 -21.002497

In [6]:
ttest_1samp(blood_pressure['diff'], 0)

Ttest_1sampResult(statistic=-27.291841767560236, pvalue=7.303035069608042e-48)

ojo: https://stackoverflow.com/questions/15984221/how-to-perform-two-sample-one-tailed-t-test-with-numpy-scipy

## 3. hypothesis test example (independent samples)

assuming equal variances

In [7]:
?ttest_ind

Signature: ttest_ind(a, b, axis=0, equal_var=True, nan_policy='propagate')
Docstring:
Calculate the T-test for the means of *two independent* samples of scores.

This is a two-sided test for the null hypothesis that 2 independent samples
have identical average (expected) values. This test assumes that the
populations have identical variances by default.

Parameters
----------
a, b : array_like
    The arrays must have the same shape, except in the dimension
    corresponding to `axis` (the first, by default).
axis : int or None, optional
    Axis along which to compute test. If None, compute over the whole
    arrays, `a`, and `b`.
equal_var : bool, optional
    If True (default), perform a standard independent 2 sample test
    that assumes equal population variances [1]_.
    If False, perform Welch's t-test, which does not assume equal
    population variance [2]_.

    .. versionadded:: 0.11.0
nan_policy : {'propagate', 'raise', 'omit'}, optional
    Defines how to handle when input contains nan. 'propagate' returns nan,
    'raise' throws an error, 'omit' performs the calculations ignoring nan
    values. Default is 'propagate'.


Returns
-------
statistic : float or array
    The calculated t-statistic.
pvalue : float or array
    The two-tailed p-value.

Notes
-----
We can use this test, if we observe two independent samples from
the same or different population, e.g. exam scores of boys and
girls or of two ethnic groups. The test measures whether the
average (expected) value differs significantly across samples. If
we observe a large p-value, for example larger than 0.05 or 0.1,
then we cannot reject the null hypothesis of identical average scores.
If the p-value is smaller than the threshold, e.g. 1%, 5% or 10%,
then we reject the null hypothesis of equal averages.

References
----------
.. [1] https://en.wikipedia.org/wiki/T-test#Independent_two-sample_t-test

.. [2] https://en.wikipedia.org/wiki/Welch%27s_t-test

Examples
--------
>>> from scipy import stats
>>> np.random.seed(12345678)

Test with sample with identical means:

>>> rvs1 = stats.norm.rvs(loc=5,scale=10,size=500)
>>> rvs2 = stats.norm.rvs(loc=5,scale=10,size=500)
>>> stats.ttest_ind(rvs1,rvs2)
(0.26833823296239279, 0.78849443369564776)
>>> stats.ttest_ind(rvs1,rvs2, equal_var = False)
(0.26833823296239279, 0.78849452749500748)

`ttest_ind` underestimates p for unequal variances:

>>> rvs3 = stats.norm.rvs(loc=5, scale=20, size=500)
>>> stats.ttest_ind(rvs1, rvs3)
(-0.46580283298287162, 0.64145827413436174)
>>> stats.ttest_ind(rvs1, rvs3, equal_var = False)
(-0.46580283298287162, 0.64149646246569292)

When n1 != n2, the equal variance t-statistic is no longer equal to the
unequal variance t-statistic:

>>> rvs4 = stats.norm.rvs(loc=5, scale=20, size=100)
>>> stats.ttest_ind(rvs1, rvs4)
(-0.99882539442782481, 0.3182832709103896)
>>> stats.ttest_ind(rvs1, rvs4, equal_var = False)
(-0.69712570584654099, 0.48716927725402048)

T-test with different means, variance, and n:

>>> rvs5 = stats.norm.rvs(loc=8, scale=20, size=100)
>>> stats.ttest_ind(rvs1, rvs5)
(-1.4679669854490653, 0.14263895620529152)
>>> stats.ttest_ind(rvs1, rvs5, equal_var = False)
(-0.94365973617132992, 0.34744170334794122)
File:      ~/miniconda3/envs/ironhack_env/lib/python3.7/site-packages/scipy/stats/stats.py
Type:      function

In [10]:
ttest_ind(ab_test['b'], ab_test['a'], equal_var=True)

Ttest_indResult(statistic=2.637533181209767, pvalue=0.009713140852447347)

assuming unequal variances (Welch's)

In [12]:
import numpy as np

In [13]:
ttest_ind(np.array([1, 2, 3, 4]), ab_test['b'], equal_var=False)

Ttest_indResult(statistic=-8.880552212361339, pvalue=1.0319889242001474e-08)

## 4. chi squared contingency test

**if there is enough time, perform a test for renfe dataset**

In [14]:
from scipy.stats import chi2_contingency

In [15]:
?chi2_contingency

Signature: chi2_contingency(observed, correction=True, lambda_=None)
Docstring:
Chi-square test of independence of variables in a contingency table.

This function computes the chi-square statistic and p-value for the
hypothesis test of independence of the observed frequencies in the
contingency table [1]_ `observed`.  The expected frequencies are computed
based on the marginal sums under the assumption of independence; see
`scipy.stats.contingency.expected_freq`.  The number of degrees of
freedom is (expressed using numpy functions and attributes)::

    dof = observed.size - sum(observed.shape) + observed.ndim - 1


Parameters
----------
observed : array_like
    The contingency table. The table contains the observed frequencies
    (i.e. number of occurrences) in each category.  In the two-dimensional
    case, the table is often described as an "R x C table".
correction : bool, optional
    If True, *and* the degrees of freedom is 1, apply Yates' correction
    for continuity.  The effect of the correction is to adjust each
    observed value by 0.5 towards the corresponding expected value.
lambda_ : float or str, optional.
    By default, the statistic computed in this test is Pearson's
    chi-squared statistic [2]_.  `lambda_` allows a statistic from the
    Cressie-Read power divergence family [3]_ to be used instead.  See
    `power_divergence` for details.

Returns
-------
chi2 : float
    The test statistic.
p : float
    The p-value of the test
dof : int
    Degrees of freedom
expected : ndarray, same shape as `observed`
    The expected frequencies, based on the marginal sums of the table.

See Also
--------
contingency.expected_freq
fisher_exact
chisquare
power_divergence

Notes
-----
An often quoted guideline for the validity of this calculation is that
the test should be used only if the observed and expected frequencies
in each cell are at least 5.

This is a test for the independence of different categories of a
population. The test is only meaningful when the dimension of
`observed` is two or more.  Applying the test to a one-dimensional
table will always result in `expected` equal to `observed` and a
chi-square statistic equal to 0.

This function does not handle masked arrays, because the calculation
does not make sense with missing values.

Like stats.chisquare, this function computes a chi-square statistic;
the convenience this function provides is to figure out the expected
frequencies and degrees of freedom from the given contingency table.
If these were already known, and if the Yates' correction was not
required, one could use stats.chisquare.  That is, if one calls::

    chi2, p, dof, ex = chi2_contingency(obs, correction=False)

then the following is true::

    (chi2, p) == stats.chisquare(obs.ravel(), f_exp=ex.ravel(),
                                 ddof=obs.size - 1 - dof)

The `lambda_` argument was added in version 0.13.0 of scipy.

References
----------
.. [1] "Contingency table",
       https://en.wikipedia.org/wiki/Contingency_table
.. [2] "Pearson's chi-squared test",
       https://en.wikipedia.org/wiki/Pearson%27s_chi-squared_test
.. [3] Cressie, N. and Read, T. R. C., "Multinomial Goodness-of-Fit
       Tests", J. Royal Stat. Soc. Series B, Vol. 46, No. 3 (1984),
       pp. 440-464.

Examples
--------
A two-way example (2 x 3):

>>> from scipy.stats import chi2_contingency
>>> obs = np.array([[10, 10, 20], [20, 20, 20]])
>>> chi2_contingency(obs)
(2.7777777777777777,
 0.24935220877729619,
 2,
 array([[ 12.,  12.,  16.],
        [ 18.,  18.,  24.]]))

Perform the test using the log-likelihood ratio (i.e. the "G-test")
instead of Pearson's chi-squared statistic.

>>> g, p, dof, expctd = chi2_contingency(obs, lambda_="log-likelihood")
>>> g, p
(2.7688587616781319, 0.25046668010954165)

A four-way example (2 x 2 x 2 x 2):

>>> obs = np.array(
...     [[[[12, 17],
...        [11, 16]],
...       [[11, 12],
...        [15, 16]]],
...      [[[23, 15],
...        [30, 22]],
...       [[14, 17],
...        [15, 16]]]])
>>> chi2_contingency(obs)
(8.7584514426741897,
 0.64417725029295503,
 11,
 array([[[[ 14.15462386,  14.15462386],
          [ 16.49423111,  16.49423111]],
         [[ 11.2461395 ,  11.2461395 ],
          [ 13.10500554,  13.10500554]]],
        [[[ 19.5591166 ,  19.5591166 ],
          [ 22.79202844,  22.79202844]],
         [[ 15.54012004,  15.54012004],
          [ 18.10873492,  18.10873492]]]]))
File:      ~/miniconda3/envs/ironhack_env/lib/python3.7/site-packages/scipy/stats/contingency.py
Type:      function

In [16]:
renfe = pd.read_csv('../hypothesis_testing/data/renfe.csv')

In [17]:
renfe.columns

Index(['insert_date', 'origin', 'destination', 'start_date', 'end_date',
       'train_type', 'price', 'train_class', 'fare'],
      dtype='object')

In [19]:
pd.crosstab(renfe['train_class'], renfe['fare'])

fare,4x100,Adulto ida,COD.PROMOCIONAL,Doble Familiar-Flexible,Flexible,Grupos Ida,Individual-Flexible,Mesa,Promo,Promo +
train_class,,,,,,,,,,
Cama G. Clase,0,0,0,31,0,0,214,0,0,0
Cama Turista,0,0,0,0,6137,0,0,0,0,0
Preferente,0,0,44,0,86889,1,0,61,658880,15
PreferenteSólo plaza H,0,0,0,0,5242,0,0,0,1497,0
Turista,1,479771,3216,0,1282739,20,0,33,4052436,55
Turista Plus,0,0,29,0,13601,0,0,66,526004,1
Turista PlusSólo plaza H,0,0,0,0,22,0,0,0,0,0
Turista con enlace,0,0,0,0,203120,0,0,0,83209,187370
TuristaSólo plaza H,0,0,107,0,53316,0,0,0,537,0

In [43]:
chi2, p, dof, ex = chi2_contingency(np.array([[4, 61],[108, 627]]), correction=False)

In [46]:
dof

1

In [ ]:
ex

In [20]:
def x():
    return 1, 2, 3

In [21]:
a, b, c = x()

In [22]:
a

1

In [23]:
b

2

In [24]:
c

3