# Pandas import - export

In [1]:
import pandas as pd

## CSV

In [7]:
# import comma-separated variable file

df = pd.read_csv('data/vehicles.csv')

df.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

In [9]:
# import tab-delimited file

df_tab = pd.read_csv('data/vehicles_tab.txt', sep='\t')

df_tab.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

In [18]:
pd.read_csv('data/mydata.csv', sep=' ')

                           laksj  ñlksa
aslkjf ñlkas asdf assdf  asdfasf    NaN
lkasd| asd   NaN  NaN        NaN    NaN

In [19]:
# import pipe-delimited file

df_pipe = pd.read_csv('data/vehicles_pipe.txt', sep='|')

df_pipe.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

In [22]:
import os

output_folder = 'output'
if not os.path.exists(output_folder):
    os.mkdir(output_folder)

df.to_csv(f'{output_folder}/vehicles.csv', index=False)

In [23]:
# now with index

df_tab.to_csv(f'{output_folder}/vehicles_tab.csv', sep='\t')

## Excel

In [24]:
!pip install xlrd

Requirement already satisfied: xlrd in /home/ubuntu/miniconda3/envs/ironhack_env/lib/python3.7/site-packages (1.2.0)

In [25]:
df_excel = pd.read_excel('data/vehicles.xlsx')

df_excel.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

In [26]:
!pip install openpyxl

Requirement already satisfied: openpyxl in /home/ubuntu/miniconda3/envs/ironhack_env/lib/python3.7/site-packages (3.0.1)
Requirement already satisfied: jdcal in /home/ubuntu/miniconda3/envs/ironhack_env/lib/python3.7/site-packages (from openpyxl) (1.4.1)
Requirement already satisfied: et-xmlfile in /home/ubuntu/miniconda3/envs/ironhack_env/lib/python3.7/site-packages (from openpyxl) (1.0.1)

In [27]:
df_excel.to_excel(f'{output_folder}/vehicles.xlsx', index=False)

## JSON

In [28]:
df_json = pd.read_json('data/vehicles.json', orient='records')

df_json.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

In [29]:
df_json.to_json(f'{output_folder}/vehicles.json', orient='records')

In [30]:
df_json.to_json(f'{output_folder}/vehicles_split.json', orient='split')

In [31]:
df_json.to_json(f'{output_folder}/vehicles_columns.json', orient='columns')

## Parquet

In [32]:
!pip install pyarrow

Requirement already satisfied: pyarrow in /home/ubuntu/miniconda3/envs/ironhack_env/lib/python3.7/site-packages (0.15.1)
Requirement already satisfied: six>=1.0.0 in /home/ubuntu/.local/lib/python3.7/site-packages (from pyarrow) (1.12.0)
Requirement already satisfied: numpy>=1.14 in /home/ubuntu/miniconda3/envs/ironhack_env/lib/python3.7/site-packages (from pyarrow) (1.17.3)

In [33]:
df_parquet = pd.read_parquet(f'data/vehicles.parquet')

df_parquet.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

In [34]:
df_parquet.to_parquet(f'{output_folder}/vehicles.parquet')

## Database

In [ ]:
!pip install sqlalchemy

In [ ]:
from sqlalchemy import create_engine

In [ ]:
sqlitedb_path = '../../week_4/sql_introduction/data/chinook.db'

In [ ]:
engine = create_engine(f'sqlite:///{sqlitedb_path}')

### pandas approach

In [ ]:
# list all tables in database

pd.read_sql_query("SELECT name FROM sqlite_master WHERE type='table'", engine)

In [ ]:
# query one of them

df_sqlite = pd.read_sql_query("select * from customers", engine)

df_sqlite.head()

In [ ]:
df_sqlite.to_sql('test_write', engine, if_exists='replace', index=False)

In [ ]:
drop_query = 'drop table test_write'

pd.read_sql_query(drop_query, engine)

### raw engine approach

In [ ]:
with engine.begin() as conn:
    conn.execute(drop_query)