# Dictionaries, Sets and Tuples

## Tuples

Tuples are sequences just like list. However, the main difference between tuples and lists is that tuples are immutable. This means that the values inside of a tuple cannot be overwritten (or mutated) once the tuple is defined and new values cannot be added

In [27]:
chocolates = ('dark', 'milk', 'semi sweet')

In [28]:
chocolates[0]

'dark'

In [29]:
chocolates[0] = 'caramel filled'

TypeError: 'tuple' object does not support item assignment

In [30]:
chocolates[3] = 'caramel filled'

TypeError: 'tuple' object does not support item assignment

In [31]:
len(chocolates)

3

In [32]:
for chocolate in chocolates:
    print(chocolate)

dark
milk
semi sweet

In [33]:
list(chocolates)

['dark', 'milk', 'semi sweet']

In [34]:
set(chocolates)

{'dark', 'milk', 'semi sweet'}

## Dictionaries

Sometimes we don't just want to store data in a sequence. There are cases where we want to easily retrieve our data rather than iterate through an entire list. There are also cases where we need to label our data. For those cases we should use unique key storing that dictionaries provide

In [36]:
contacts = {'John': '312-555-1234', 'Paul': '312-555-3123', 'George': '312-555-3333', 'Ringo': '312-555-2222'}

In [40]:
len(contacts)

4

In [52]:
print(contacts.keys())
print(list(contacts.keys()))

dict_keys(['John', 'Paul', 'George', 'Ringo'])
['John', 'Paul', 'George', 'Ringo']

In [38]:
contacts.values()

dict_values(['312-555-1234', '312-555-3123', '312-555-3333', '312-555-2222'])

In [39]:
contacts.items()

dict_items([('John', '312-555-1234'), ('Paul', '312-555-3123'), ('George', '312-555-3333'), ('Ringo', '312-555-2222')])

In [45]:
contacts['Paul'] = 2
contacts['George'] = ['312-555-1111', 5, set({3,4})]
contacts['John'] = {'test_key': 'test_value'}

contacts

{'John': {'test_key': 'test_value'},
 'Paul': 2,
 'George': ['312-555-1111', 5, {3, 4}],
 'Ringo': '312-555-2222'}

In [46]:
contacts['John']['test_key']

'test_value'

In [49]:
list(contacts.items())[0]

('John', {'test_key': 'test_value'})

In [53]:
contacts['Pete'] = '312-555-1111'

contacts

{'John': {'test_key': 'test_value'},
 'Paul': 2,
 'George': ['312-555-1111', 5, {3, 4}],
 'Ringo': '312-555-2222',
 'Pete': '312-555-1111'}

In [54]:
del contacts['Pete']

contacts

{'John': {'test_key': 'test_value'},
 'Paul': 2,
 'George': ['312-555-1111', 5, {3, 4}],
 'Ringo': '312-555-2222'}

In [55]:
for i in contacts.keys():
     print(i)

for i in contacts.values():
    print(i)

John
Paul
George
Ringo
{'test_key': 'test_value'}
2
['312-555-1111', 5, {3, 4}]
312-555-2222

In [60]:
for k, v in contacts.items():
     print(f'{k}: {v}')
        
for item in contacts.items():
     print(f'{item[0]}: {item[1]}')

John: {'test_key': 'test_value'}
Paul: 2
George: ['312-555-1111', 5, {3, 4}]
Ringo: 312-555-2222
John: {'test_key': 'test_value'}
Paul: 2
George: ['312-555-1111', 5, {3, 4}]
Ringo: 312-555-2222

In [62]:
international = {k: f'+34-{v}' for k, v in contacts.items()}
for k, v in international.items():
     print(f'{k}: {v}')

John: +34-{'test_key': 'test_value'}
Paul: +34-2
George: +34-['312-555-1111', 5, {3, 4}]
Ringo: +34-312-555-2222

## Sets

Sets are unordered collections of unique elements. Similar to lists, they are also mutable

In [ ]:
a = []
b = list()

print(a)
print(b)

In [ ]:
letters = set()

letters

In [ ]:
letters.add('a')

letters

In [ ]:
letters.remove('a')

letters

In [ ]:
girl_names = set(['Mary', 'Madison', 'Logan', 'Joanna'])
boy_names = set(['John', 'Alexander', 'Logan', 'Madison'])

unisex_names = girl_names.intersection(boy_names)
print(unisex_names)

all_names = boy_names.union(girl_names)
print(all_names)

boy_only_names = boy_names - girl_names
print(boy_only_names)

girl_only_names = girl_names - boy_names
print(girl_only_names)

In [ ]:
text_with_duplicates = 'this is a great great car blue'

In [ ]:
text_list = text_with_duplicates.split()
text_list

In [ ]:
# MOST IMPORTANT APPLICATION
set(text_list)

In [ ]:
b = {'a', 'car', 'great', 'is', 'this'}

In [ ]:
b

In [63]:
candidates = ['Marina', 'Gonzalo', 'Liseth', 'Elena']

In [73]:
import numpy as np

np.random.choice(candidates)

'Liseth'