# joins and relationships

## 1. introduction

* joins allows to leverage relationships between entities while doing queries.
* not all joins are supported by every technology (we will see workarounds).

## 2. sample database (same will be used for lab!)

In [43]:
# let's load jupyter sql extension

%load_ext sql
%config SqlMagic.autocommit = False

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [44]:
# load database

%sql sqlite:///data/publications.db

'Connected: @data/publications.db'

getting tables in publications database:

In [46]:
%%sql tables <<

SELECT 
    name
FROM 
    sqlite_master 
WHERE 
    type ='table' AND 
    name NOT LIKE 'sqlite_%';

 * sqlite:///data/publications.db
Done.
Returning data to local variable tables

In [47]:
tables.DataFrame()

           name
0       authors
1     discounts
2      employee
3          jobs
4      pub_info
5    publishers
6      roysched
7         sales
8        stores
9   titleauthor
10       titles

## 3. types of joins

### inner join

In [21]:
%%sql inner <<

SELECT 
pub_name,
count(titles.title_id) as titles_published
FROM publishers
JOIN titles
ON publishers.pub_id = titles.pub_id
GROUP BY pub_name
ORDER BY titles_published DESC;

 * sqlite:///data/publications.db
Done.
Returning data to local variable inner

In [32]:
inner.DataFrame()

               pub_name  titles_published
0      Binnet & Hardley                 7
1  Algodata Infosystems                 6
2        New Moon Books                 5

### left join (all elements in the first table of the join will prevail)

In [48]:
%%sql left <<

SELECT 
pub_name,
count(titles.title_id) as titles_published
FROM publishers
LEFT JOIN titles
ON publishers.pub_id = titles.pub_id
GROUP BY pub_name
ORDER BY titles_published DESC;

 * sqlite:///data/publications.db
Done.
Returning data to local variable left

In [49]:
left.DataFrame()

                pub_name  titles_published
0       Binnet & Hardley                 7
1   Algodata Infosystems                 6
2         New Moon Books                 5
3         Scootney Books                 0
4      Ramona Publishers                 0
5     Lucerne Publishing                 0
6                  GGG&G                 0
7  Five Lakes Publishing                 0

### right join (not supported by sqlite, just change order of tables)

In [27]:
%%sql right <<

select 
titles.title, 
titles.type, 
titles.price, 
sum(sales.qty) as units_sold
from titles
left join sales
on titles.title_id = sales.title_id
group by titles.title, titles.type, titles.price;

 * sqlite:///data/publications.db
Done.
Returning data to local variable right

In [30]:
right.DataFrame()

,title,type,price,units_sold
0,But Is It User Friendly?,popular_comp,22.95,30.0
1,Computer Phobic AND Non-Phobic Individuals: Be...,psychology,21.59,20.0
2,Cooking with Computers: Surreptitious Balance ...,business,11.95,25.0
3,Emotional Security: A New Algorithm,psychology,7.99,25.0
4,Fifty Years in Buckingham Palace Kitchens,trad_cook,11.95,20.0
5,Is Anger the Enemy?,psychology,10.95,108.0
6,Life Without Fear,psychology,7.00,25.0
7,Net Etiquette,popular_comp,NaN,NaN
8,"Onions, Leeks, and Garlic: Cooking Secrets of ...",trad_cook,20.95,40.0
9,Prolonged Data Deprivation: Four Case Studies,psychology,19.99,15.0
10,Secrets of Silicon Valley,popular_comp,20.00,50.0
11,Silicon Valley Gastronomic Treats,mod_cook,19.99,10.0
12,Straight Talk About Computers,business,19.99,15.0
13,"Sushi, Anyone?",trad_cook,14.99,20.0
14,The Busy Executive's Database Guide,business,19.99,15.0
15,The Gourmet Microwave,mod_cook,2.99,40.0
16,The Psychology of Computer Cooking,UNDECIDED,NaN,NaN
17,You Can Combat Computer Stress!,business,2.99,35.0

### outer join (not supported by sqlite and mysql either)

In [34]:
%%sql outer <<

SELECT 
employee.fname, 
employee.hire_date, 
jobs.job_desc, 
jobs.job_id
FROM jobs
LEFT JOIN employee
on jobs.job_id = employee.job_id
UNION
SELECT 
employee.fname, 
employee.hire_date, 
jobs.job_desc, 
jobs.job_id
FROM employee
LEFT JOIN jobs
on jobs.job_id = employee.job_id;

 * sqlite:///data/publications.db
Done.
Returning data to local variable outer

In [36]:
outer.DataFrame()

        fname            hire_date                      job_desc  job_id
0        None                 None  New Hire - Job not specified       1
1     Anabela  1993-01-27 00:00:00      Public Relations Manager       8
2         Ann  1991-07-16 00:00:00   Business Operations Manager       3
3     Annette  1990-02-21 00:00:00               Managing Editor       6
4        Aria  1991-10-26 00:00:00           Productions Manager      10
5      Carine  1992-07-07 00:00:00          Sales Representative      13
6      Carlos  1989-04-21 00:00:00                     Publisher       5
7      Daniel  1990-01-01 00:00:00            Operations Manager      11
8       Diego  1991-12-16 00:00:00               Managing Editor       6
9   Elizabeth  1990-07-24 00:00:00                      Designer      14
10  Francisco  1990-11-03 00:00:00      Chief Financial Officier       4
11       Gary  1988-08-09 00:00:00          Acquisitions Manager       9
12      Helen  1989-09-21 00:00:00                        Editor      12
13  Helvetius  1993-03-19 00:00:00             Marketing Manager       7
14     Howard  1988-11-19 00:00:00                        Editor      12
15     Janine  1991-05-26 00:00:00                     Publisher       5
16      Karin  1992-10-17 00:00:00                      Designer      14
17      Karla  1994-03-11 00:00:00          Acquisitions Manager       9
18   Laurence  1990-06-03 00:00:00                     Publisher       5
19     Lesley  1991-02-13 00:00:00             Marketing Manager       7
20     Manuel  1989-01-09 00:00:00      Public Relations Manager       8
21   Margaret  1988-09-29 00:00:00          Acquisitions Manager       9
22      Maria  1989-03-01 00:00:00                     Publisher       5
23      Maria  1992-03-27 00:00:00             Marketing Manager       7
24     Martin  1990-04-13 00:00:00           Productions Manager      10
25    Martine  1992-02-05 00:00:00          Acquisitions Manager       9
26       Mary  1993-06-29 00:00:00      Public Relations Manager       8
27      Matti  1994-05-01 00:00:00               Managing Editor       6
28     Miguel  1992-12-07 00:00:00            Operations Manager      11
29      Palle  1993-05-09 00:00:00             Marketing Manager       7
30      Paolo  1992-08-27 00:00:00          Sales Representative      13
31   Patricia  1989-08-01 00:00:00            Operations Manager      11
32       Paul  1993-08-19 00:00:00                     Publisher       5
33      Paula  1994-01-19 00:00:00      Public Relations Manager       8
34      Pedro  1990-12-24 00:00:00                      Designer      14
35      Peter  1992-05-17 00:00:00           Productions Manager      10
36     Philip  1989-11-11 00:00:00       Chief Executive Officer       2
37     Pirkko  1993-11-29 00:00:00           Productions Manager      10
38       Rita  1993-10-09 00:00:00                     Publisher       5
39     Roland  1991-09-05 00:00:00            Operations Manager      11
40       Sven  1991-04-05 00:00:00                     Publisher       5
41    Timothy  1988-06-19 00:00:00          Sales Representative      13
42   Victoria  1990-09-13 00:00:00               Managing Editor       6
43      Yoshi  1989-06-11 00:00:00                        Editor      12

## 4. combined queries (with)

In [39]:
%%sql with_example <<

WITH 
employees_custom AS 
(
SELECT *
FROM employee
),
jobs_custom AS
(
SELECT *
FROM jobs
JOIN employees_custom
ON employees_custom.job_id = jobs.job_id
)
SELECT * from jobs_custom;

 * sqlite:///data/publications.db
Done.
Returning data to local variable with_example

In [40]:
with_example.DataFrame()

,job_id,job_desc,min_lvl,max_lvl,emp_id,fname,minit,lname,job_id:1,job_lvl,pub_id,hire_date
0,10,Productions Manager,75,165,A-C71970F,Aria,,Cruz,10,87,1389,1991-10-26 00:00:00
1,6,Managing Editor,140,225,A-R89858F,Annette,,Roulet,6,152,9999,1990-02-21 00:00:00
2,3,Business Operations Manager,175,225,AMD15433F,Ann,M,Devon,3,200,9952,1991-07-16 00:00:00
3,8,Public Relations Manager,100,175,ARD36773F,Anabela,R,Domingues,8,100,0877,1993-01-27 00:00:00
4,5,Publisher,150,250,CFH28514M,Carlos,F,Hernadez,5,211,9999,1989-04-21 00:00:00
5,13,Sales Representative,25,100,CGS88322F,Carine,G,Schmitt,13,64,1389,1992-07-07 00:00:00
6,11,Operations Manager,75,150,DBT39435M,Daniel,B,Tonini,11,75,0877,1990-01-01 00:00:00
7,6,Managing Editor,140,225,DWR65030M,Diego,W,Roel,6,192,1389,1991-12-16 00:00:00
8,14,Designer,25,100,ENL44273F,Elizabeth,N,Lincoln,14,35,0877,1990-07-24 00:00:00
9,4,Chief Financial Officier,175,250,F-C16315M,Francisco,,Chang,4,227,9952,1990-11-03 00:00:00
10,9,Acquisitions Manager,75,175,GHT50241M,Gary,H,Thomas,9,170,0736,1988-08-09 00:00:00
11,12,Editor,25,100,H-B39728F,Helen,,Bennett,12,35,0877,1989-09-21 00:00:00
12,7,Marketing Manager,120,200,HAN90777M,Helvetius,A,Nagy,7,120,9999,1993-03-19 00:00:00
13,12,Editor,25,100,HAS54740M,Howard,A,Snyder,12,100,0736,1988-11-19 00:00:00
14,5,Publisher,150,250,JYL26161F,Janine,Y,Labrune,5,172,9901,1991-05-26 00:00:00
15,14,Designer,25,100,KFJ64308F,Karin,F,Josephs,14,100,0736,1992-10-17 00:00:00
16,9,Acquisitions Manager,75,175,KJJ92907F,Karla,J,Jablonski,9,170,9999,1994-03-11 00:00:00
17,7,Marketing Manager,120,200,L-B31947F,Lesley,,Brown,7,120,0877,1991-02-13 00:00:00
18,5,Publisher,150,250,LAL21447M,Laurence,A,Lebihan,5,175,0736,1990-06-03 00:00:00
19,7,Marketing Manager,120,200,M-L67958F,Maria,,Larsson,7,135,1389,1992-03-27 00:00:00
20,8,Public Relations Manager,100,175,M-P91209M,Manuel,,Pereira,8,101,9999,1989-01-09 00:00:00
21,9,Acquisitions Manager,75,175,M-R38834F,Martine,,Rance,9,75,0877,1992-02-05 00:00:00
22,11,Operations Manager,75,150,MAP77183M,Miguel,A,Paolino,11,112,1389,1992-12-07 00:00:00
23,9,Acquisitions Manager,75,175,MAS70474F,Margaret,A,Smith,9,78,1389,1988-09-29 00:00:00
24,10,Productions Manager,75,165,MFS52347M,Martin,F,Sommer,10,165,0736,1990-04-13 00:00:00
25,6,Managing Editor,140,225,MGK44605M,Matti,G,Karttunen,6,220,0736,1994-05-01 00:00:00
26,5,Publisher,150,250,MJP25939M,Maria,J,Pontes,5,246,1756,1989-03-01 00:00:00
27,8,Public Relations Manager,100,175,MMS49649F,Mary,M,Saveley,8,175,0736,1993-06-29 00:00:00
28,11,Operations Manager,75,150,PCM98509F,Patricia,C,McKenna,11,150,9999,1989-08-01 00:00:00
29,7,Marketing Manager,120,200,PDI47470M,Palle,D,Ibsen,7,195,0736,1993-05-09 00:00:00
30,10,Productions Manager,75,165,PHF38899M,Peter,H,Franken,10,75,0877,1992-05-17 00:00:00
31,13,Sales Representative,25,100,PMA42628M,Paolo,M,Accorti,13,35,0877,1992-08-27 00:00:00
32,10,Productions Manager,75,165,POK93028M,Pirkko,O,Koskitalo,10,80,9999,1993-11-29 00:00:00
33,14,Designer,25,100,PSA89086M,Pedro,S,Afonso,14,89,1389,1990-12-24 00:00:00
34,8,Public Relations Manager,100,175,PSP68661F,Paula,S,Parente,8,125,1389,1994-01-19 00:00:00
35,2,Chief Executive Officer,200,250,PTC11962M,Philip,T,Cramer,2,215,9952,1989-11-11 00:00:00
36,5,Publisher,150,250,PXH22250M,Paul,X,Henriot,5,159,0877,1993-08-19 00:00:00
37,11,Operations Manager,75,150,R-M53550M,Roland,,Mendel,11,150,0736,1991-09-05 00:00:00
38,5,Publisher,150,250,RBM23061F,Rita,B,Muller,5,198,1622,1993-10-09 00:00:00
39,5,Publisher,150,250,SKO22412M,Sven,K,Ottlieb,5,150,1389,1991-04-05 00:00:00
40,13,Sales Representative,25,100,TPO55093M,Timothy,P,O'Rourke,13,100,0736,1988-06-19 00:00:00
41,6,Managing Editor,140,225,VPA30890F,Victoria,P,Ashworth,6,140,0877,1990-09-13 00:00:00
42,12,Editor,25,100,Y-L77953M,Yoshi,,Latimer,12,32,1389,1989-06-11 00:00:00

## 5. lab time! let's start together

In [41]:
%%sql challenge_1 <<

select authors.au_id, 
authors.au_lname, 
authors.au_fname, 
titles.title
from titles
JOIN titleauthor
on titles.title_id = titleauthor.title_id
JOIN authors
on authors.au_id = titleauthor.au_id;

 * sqlite:///data/publications.db
Done.
Returning data to local variable challenge_1

In [42]:
challenge_1.DataFrame()

,au_id,au_lname,au_fname,title
0,172-32-1176,White,Johnson,Prolonged Data Deprivation: Four Case Studies
1,213-46-8915,Green,Marjorie,The Busy Executive's Database Guide
2,213-46-8915,Green,Marjorie,You Can Combat Computer Stress!
3,238-95-7766,Carson,Cheryl,But Is It User Friendly?
4,267-41-2394,O'Leary,Michael,Cooking with Computers: Surreptitious Balance ...
5,267-41-2394,O'Leary,Michael,"Sushi, Anyone?"
6,274-80-9391,Straight,Dean,Straight Talk About Computers
7,409-56-7008,Bennet,Abraham,The Busy Executive's Database Guide
8,427-17-2319,Dull,Ann,Secrets of Silicon Valley
9,472-27-2349,Gringlesby,Burt,"Sushi, Anyone?"
10,486-29-1786,Locksley,Charlene,Net Etiquette
11,486-29-1786,Locksley,Charlene,Emotional Security: A New Algorithm
12,648-92-1872,Blotchet-Halls,Reginald,Fifty Years in Buckingham Palace Kitchens
13,672-71-3249,Yokomoto,Akiko,"Sushi, Anyone?"
14,712-45-1867,del Castillo,Innes,Silicon Valley Gastronomic Treats
15,722-51-5454,DeFrance,Michel,The Gourmet Microwave
16,724-80-9391,MacFeather,Stearns,Cooking with Computers: Surreptitious Balance ...
17,724-80-9391,MacFeather,Stearns,Computer Phobic AND Non-Phobic Individuals: Be...
18,756-30-7391,Karsen,Livia,Computer Phobic AND Non-Phobic Individuals: Be...
19,807-91-6654,Panteley,Sylvia,"Onions, Leeks, and Garlic: Cooking Secrets of ..."
20,846-92-7186,Hunter,Sheryl,Secrets of Silicon Valley
21,899-46-2035,Ringer,Anne,The Gourmet Microwave
22,899-46-2035,Ringer,Anne,Is Anger the Enemy?
23,998-72-3567,Ringer,Albert,Is Anger the Enemy?
24,998-72-3567,Ringer,Albert,Life Without Fear