# SQL introduction

## 1. introduction

* acronym for Structured Query Language
* extensively used not just by Data Scientists, but to run applications!
* they're based on a branch of algebraic set theory known as relational algebra
* referential integrity, very important, can't be break
* tools like DBeaver (excellent) to query them, let's install it...
    * https://launchpad.net/~serge-rider/+archive/ubuntu/dbeaver-ce
* integration with jupyter, installing (ipython-sql, sqlalchemy) in kernel environment:
    * https://towardsdatascience.com/jupyter-magics-with-sql-921370099589

## 2. our sample database

let's connect directly using python and dbeaver:

In [1]:
%load_ext sql
%config SqlMagic.autocommit = False

specify path to the database (in this case is just a file .db)

In [2]:
%sql sqlite:///data/chinook.db

'Connected: @data/chinook.db'

let's get tables (this is different for every database technology):

In [ ]:
%%sql tables <<

SELECT 
    name
FROM 
    sqlite_master 
WHERE 
    type ='table' AND 
    name NOT LIKE 'sqlite_%';

those tables contains the 'entities in the database', in this case a music store, so there are entities like:
* albums
* artists
* customers
* etc...
every row in a table is an entity, which have certain attributes, represented by the columns of the table.

In [4]:
tables

[('albums',),
 ('artists',),
 ('customers',),
 ('employees',),
 ('genres',),
 ('invoices',),
 ('invoice_items',),
 ('media_types',),
 ('playlists',),
 ('playlist_track',),
 ('tracks',)]

### 3. simple select query

for example, for albums columns (first select query here)...

In [5]:
%%sql albums <<

SELECT *
FROM albums
LIMIT 10;

 * sqlite:///data/chinook.db
Done.
Returning data to local variable albums

In [6]:
albums

[(1, 'For Those About To Rock We Salute You', 1),
 (2, 'Balls to the Wall', 2),
 (3, 'Restless and Wild', 2),
 (4, 'Let There Be Rock', 1),
 (5, 'Big Ones', 3),
 (6, 'Jagged Little Pill', 4),
 (7, 'Facelift', 5),
 (8, 'Warner 25 Anos', 6),
 (9, 'Plays Metallica By Four Cellos', 7),
 (10, 'Audioslave', 8)]

## 4. relationships between tables

the interesting thing about relational databases is that they have referential integrity as relations among entities are enforced, check in dbeaver...

![relations](relations_diagram.png "Entity Relations diagram")

* types of relationships are:
    * one to one: like marriage in western countries
    * many to many: like tracks and palylists
    * one to many: like a customer with many invoices, but an invoice can only have one customer

## 5. data normalization

* relationships are enforced through foreign keys, columns in tables referencing elements in a foreign ('other') table...
* a primary key is defined for every entity, and must be unique...
* this way of data storage avoids repeated data (it database is well designed, not the most usual case :-D)

## 6. database design

* database design is an art, improved with experience
* this about entities and try to think what kind of relationships exists among them

In [1]:
import pandas as pd

In [2]:
import sqlite3

In [3]:
cnx = sqlite3.connect('./data/chinook.db')

In [14]:
invoices = pd.read_sql_table(table_name='invoices', con=enn)

In [17]:
enn = sqlalchemy.create_engine('sqlite:///data/chinook.db')

In [22]:
invoices.groupby('BillingCountry')['Total'].sum().sort_values(ascending=False)

BillingCountry
USA               523.06
Canada            303.96
France            195.10
Brazil            190.10
Germany           156.48
United Kingdom    112.86
Czech Republic     90.24
Portugal           77.24
India              75.26
Chile              46.62
Ireland            45.62
Hungary            45.62
Austria            42.62
Finland            41.62
Netherlands        40.62
Norway             39.62
Sweden             38.62
Australia          37.62
Denmark            37.62
Poland             37.62
Italy              37.62
Argentina          37.62
Spain              37.62
Belgium            37.62
Name: Total, dtype: float64