# Map, Filter, Reduce

## Map

- sintax: map(function, iterable), where function can be either a regular function or a lambda
- we expect an iterable of the same length as the original iterable

In [1]:
def half(x):
    return x / 2

In [2]:
l = [10, 12, 34, 23]
map(half, l)

In [3]:
list(map(half, l))

[5.0, 6.0, 17.0, 11.5]

In [3]:
for i in map(half, l):
    print(i)

5.0
6.0
17.0
11.5

In [5]:
list(map(lambda x: x/2, l))

[5.0, 6.0, 17.0, 11.5]

In [6]:
def very_complicated_for_cibeles(x):
    y = x / 2
    z = half(y)
    
    print('pollas')
    
    return y + z

In [7]:
list(map(very_complicated_for_cibeles, l))

pollas
pollas
pollas
pollas

[7.5, 9.0, 25.5, 17.25]

## Filter

- sintax: filter(function, iterable), where function can be either a regular function or a lambda
- we expect an iterable of less or the same length as the original iterable

In [8]:
filter_object = filter(lambda x: x % 2 == 1, l)

filter_object

In [9]:
list(filter_object)

[23]

In [10]:
def my_custom_filter(x):
    
    if x < 13:
        return True
    else:
        return False

In [11]:
list(filter(my_custom_filter, l))

[10, 12]

## Reduce

- sintax: reduce(function, iterable), where function can be either a regular function or a lambda
- the reduce function starts from the beginning of the iterable and operates on two consecutive elements at a time
- we expect an object resulting of operating with the iterable elements

In [12]:
# we need to import it as it is not a standard python function
from functools import reduce

reduce(lambda a, b: a + b, l)

79

In [13]:
broken_minds = [[1,2], [3,4], [5,6]]

In [26]:
def smart_reduce(a, b):
    a.extend(b)
    return a

In [27]:
reduce(smart_reduce, broken_minds)

[1, 2, 3, 4, 5, 6]

## pandas apply

In [28]:
import numpy as np
import pandas as pd

df = pd.DataFrame(np.random.randn(4, 3), columns=['a', 'b', 'c'])
df

          a         b         c
0 -1.161667 -0.085970 -1.692775
1  0.581595  0.489089  0.953232
2 -1.714821 -0.288552  0.807667
3 -0.664434  0.383813 -0.494014

In [29]:
df.apply(half)

          a         b         c
0 -0.580834 -0.042985 -0.846388
1  0.290797  0.244544  0.476616
2 -0.857411 -0.144276  0.403834
3 -0.332217  0.191906 -0.247007

In [30]:
# please drink less before doing this
def update_half(df):
    return df.apply(half)

update_half(df)

          a         b         c
0 -0.580834 -0.042985 -0.846388
1  0.290797  0.244544  0.476616
2 -0.857411 -0.144276  0.403834
3 -0.332217  0.191906 -0.247007

the apply method is widely used on Series and not in DataFrames due to type issues